extends layout


block content
  section.loading
    span.loader.loader-bars
      span

  section.products-container

  script(src="javascripts/generals.js")
  script(src="javascripts/localstorage.js")
  script(src="javascripts/products.js")