doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
  body
    header()
      p Cabeçario
    section.breadcrumb Mapa de Migalhas
    block content
