doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    include ./includes/header.jade
    include ./includes/breadcrumb.jade
    block content
