doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
  body
    include ./includes/header.jade
    include ./includes/breadcrumb.jade
    block content
