$white: #FFFFFF;

$grey-50: #F2F2F2;
$grey-100: #E6E6E6;
$grey-200: #CCCCCC;
$grey-300: #B3B3B3;
$grey-400: #999999;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4D4D4D;
$grey-800: #333333;
$grey-800-8: #333c;
$grey-900: #1A1A1A;

$black: #000000;

$blue-100: #80B3FF;
$blue-200: #5599FF;
$blue-300: #2A7FFF;
$blue-400: #0066FF;
$blue-500: #0055D4;
$blue-600: #0044AA;
$blue-700: #003380;
$blue-800: #002255;
$blue-900: #00112B;

$red-100: #FF8080;
$red-200: #FF5555;
$red-300: #FF2A2A;
$red-400: #FF0000;
$red-500: #D40000;
$red-600: #AA0000;
$red-700: #800000;
$red-800: #550000;
$red-900: #2b0000;

$pink-100: #FFAACC;
$pink-200: #FF80B2;
$pink-300: #FF5599;
$pink-400: #FF2A7F;
$pink-500: #FF0066;
$pink-600: #D40055;
$pink-700: #AA0044;
$pink-800: #800033;
$pink-900: #550022;

$green-100: #AAFFAA;
$green-200: #80FF80;
$green-300: #55FF55;
$green-400: #2AFF2A;
$green-500: #00FF00;
$green-600: #00D400;
$green-700: #00AA00;
$green-800: #008000;
$green-900: #005500;

$yellow-100: #EEFFAA;
$yellow-200: #E5FF80;
$yellow-300: #DDFF55;
$yellow-400: #D4FF2A;
$yellow-500: #f7dc6a;
$yellow-600: #AAD400;
$yellow-700: #88AA00;
$yellow-800: #668000;
$yellow-900: #445500;

$brown-100: #FFB380;
$brown-200: #FF9955;
$brown-300: #FF7F2A;
$brown-400: #FF6600;
$brown-500: #D45500;
$brown-600: #AA4400;
$brown-700: #803300;
$brown-800: #552200;
$brown-900: #2B1100;

$primary: #5a2d82;

// tamanhos de tela
$widthPrimary: 768px;
$widthPrimarySmall: 767px;